/*
=============== 
Fonts
===============
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

/* font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; */

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.3rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

html {
  font-size: 62.5%;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 1rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 1rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 1.5rem;
}
p {
  margin-bottom: 2rem;
  color: var(--clr-grey-5);
}
/* @media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
} */
/*  global classes */

.btn {
  background: transparent;
  border-radius: var(--radius);
  border: 2px solid var(--clr-black);
  cursor: pointer;
  font-family: var(--ff-primary);
  font-size: 1.2rem; 
  font-weight: 400;
  letter-spacing: var(--spacing);
  padding: 0.5rem 0.5rem; 
  text-transform: uppercase;
  transition: var(--transition);
}

.btn--black {
  color: var(--clr-black);
  padding: 1rem 2rem;
  cursor: pointer;
}

.btn--black:hover {
  background-color: #222;
  color: var(--clr-white);
}

.btn--blue {
  color: var(--clr-primary-6);
  border: 1px solid var(--clr-primary-6);
  text-transform: capitalize;
  font-weight: 400;
  letter-spacing: 0;
}

.btn--blue:hover {
  background-color: var(--clr-primary-6);
  color: var(--clr-white);
}

/* section */
/* .section {
  padding: 5rem 0;
} */

/* .section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
} */
/* @media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
} */
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.section-center {
  box-shadow: var(--dark-shadow);
  max-width: var(--fixed-width);
  text-align: center;
  width: 90vw;
}

svg {
  width: 40px;
  height: 40px;
}

/*




/*  modal project */

.hero {
  background: url("hero.jpeg") center/cover no-repeat;
  display: grid; 
  place-items: center;
  height: 100vh;
}

.banner{
  max-width:var(--fixed-width);
  width: 90vw;
  background-color: var(--clr-white);
  border-radius: 10px;
  text-align: center;
  padding: 5.5rem 0;
}

.banner h1 {
  padding: 20px 30px;
  margin-top: 40px;
}

.banner-btn {
text-transform: uppercase;
background-color: var(--clr-primary-5);
border-radius: 10px;
border: none;
letter-spacing: var(--spacing);
}

.modal {
  background: rgba(73, 166, 233, 0.5);
  position: relative;
  max-width:var(--fixed-width);
  width: 90vw;
  background-color: var(--clr-white);
  border-radius: 10px;
  text-align: center;
  padding: 5.5rem 0;
  transition: var(--transition);
}

.modal-overlay {
  position: fixed;
  top: 10px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(73, 166, 233, 0.5);
  display: grid;
  place-items: center;
  transition: var(--transition);
  visibility: hidden; 
  z-index: -10;
}
/* OPEN/CLOSE MODAL */

.show-modal {
  visibility: visible;
  z-index: 10;
}

.svg-icon {
  fill: var(--clr-red-dark);
  cursor: pointer;
  transition: var(--transition);
}

.svg-icon:hover{
  fill: var(--clr-red-light);
  transform: scale(1.2) rotate(360deg);
}

.modal-btn {
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
}
